.text-input {
  padding: 10px;
  border: none;
  background-color: white;
  color: inherit;
  font-family: inherit;
  outline: none;

  &::placeholder {
    color: #79868a;
  }

  &:focus::placeholder {
    color: transparent;
  }
}